@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/RobotoR/roboto-regular-webfont.eot');
    src: url('../fonts/RobotoR/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoR/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/RobotoR/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/RobotoR/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoR/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('../fonts/LatoR/lato-regular-webfont.eot');
    src: url('../fonts/LatoR/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LatoR/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/LatoR/lato-regular-webfont.woff') format('woff'),
         url('../fonts/LatoR/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/LatoR/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}