
.wrap>.container-fluid{
	max-width: 1200px;
	margin: 0 auto;
}
body{background: #2b2a28;}

.current-page{
	color:#28B8D2 !important ;
}
.clear{
	padding: 0 !important;
	margin: 0 !important;
}
.on-page{
	background:#28B8D2 !important;
	color: #fff !important;
}
